#jeu div {
   display:inline;
   float:left;
   border:1px solid #385C93;
   margin:0px;
   width:100px;
   height: 100px;
  }

#jeu p {
   clear:left;
   margin:0px;
   padding:0px;
   height:100% !important; height:1em;
  }

.player1 {
   background:green;
}

.player2 {
	background-color:red;

}